

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
 



/* nav style */
ul li a:hover{
    background-color: rgb(252, 9, 216);
    border-radius: 4px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 15px;
}
.n{
    color: rgb(228, 14, 164);
}
.nav-title{
    font-weight: bolder;
    font-size: 30px;
}
.pra{
    margin-bottom: 20px;
}
nav ul li{
    list-style: none;
    margin-right: 10px;


}
nav ul li:hover{
    /* background-color: chartreuse; */
}
.btn-primary{
    background-color: aqua;
    font-weight: bold;
    color: rgb(0, 8, 14);
    padding: 4px;
    border-radius: 18px;
    font-size: 15px;
    


}
.btn-primary:hover{
    background-color: azure;
    border-radius: 4px;
}

    

nav ul{
    display: flex;
    align-items: center;
    
}
nav ul li a{
    text-decoration: none;
    font-size: 17px;
    color: rgb(20, 1, 12);
}
/* baner style */
.baner-hello{
    font-size: 22px;
    font-weight: bolder;
margin: 0;
}
.baner-t{
    font-size: 22px;
    font-weight: bolder;
    margin: 0;

}
.baner-profile-pic{
    width: 380px;
    height: 350px;
    border-radius: 50px;
    margin-bottom: 50px;
    box-shadow: 0px 2px 5px 5px rgb(252, 12, 12);
    

}
.full-header{
 /* background-image: url("../img/c\ logo\ d.jpg"); */
  /* background-repeat: no-repeat; */
  background-color: rgb(141, 237, 205);
  border-radius: 5px;
  
}
.baner{
    display: flex;
    justify-content: space-between;
    margin: 0px 30px ;
}
.baner-content{
    /* width: 60%; */
    max-width: 60%;
    margin-top: 100px;

}


/* about */
.item-title:hover{
background-color: rgb(47, 12, 224);
border-radius: 3px;
}
.about-t{
    font-size: 35px;
    font-weight: bold;
    padding-top: 20px;
    margin: 0;
    text-decoration: underline rgb(247, 10, 10);
    
    
}
.about-p{
    font-size: 15px;
    color: rgb(7, 0, 1);
    padding-bottom: 20px;
    margin: 0;
    font-style: italic;
    padding-top: 20px;
    text-decoration: underline rgb(247, 10, 10);
}
.about-us{
    background-color: rgb(141, 237, 205);
  border-radius: 5px;
  text-align: center;
  padding: 0 100px;
  margin: 70px 50px;

}
.about-items{
    display: flex;
    justify-content: space-around;
    
    
}
.item-description{
    font-weight: bold;
    margin-bottom: 30px;
    color: rgb(13, 2, 9);
    font-style: italic;
}
.item-title{
    font-size: large;
    font-weight: bold;
    text-decoration: underline;
    color: rgb(247, 10, 10);
    

}

/* skills what i do */

.skills{
    background-color: rgb(141, 237, 205);
  border-radius: 5px;
  text-align: center;
  padding: 0 100px;
  margin: 70px 50px;

}

.skill-title{
    font-size: 35px;
    font-weight: bold;
    padding-top: 20px;
    margin: 0;
    text-decoration: underline rgb(247, 10, 10);

}

.skill-description{
    font-size: 15px;
    color: rgb(7, 0, 1);
    padding-bottom: 5px;
    padding-top: 5px;
    margin: 0;
}



.skills-container{
    display: flex;
    gap: 24px;
    padding: 30px;
    
    
    
}
.skill-description-c{
    font-size: small;
    
    

}
.skill-c{
    box-shadow:0px 6px 50px 0px rgb(15, 1, 1) ;
    padding: 0px 10px;
    border-radius: 10px;
    
    
}
.skill-c:hover{
    background-color: aliceblue;
}
.skill-title-c{
    font-size: 20px;
    font-weight: bold;
    color: red;
    text-decoration: underline;
}

/* resume */

.resume{
    background-color: rgb(141, 237, 205);
  border-radius: 5px;
  text-align: center;
  padding: 10px 100px;
  margin: 70px 50px;

}

.resume-colum{
    box-shadow:0px 6px 50px 0px rgb(248, 5, 212) ;
    padding: 0px 10px;
    border-radius: 10px;
    
}
.colum-title{
    padding-top: 15px;
    text-decoration: underline red;
    font-weight: bolder;
}
.experinece{
    margin: 10px;
    padding-bottom: 30px;
}

.resume-colum:hover{
    background-color: beige;
}
.experinece-des{
    font-style: italic;
}
.resume-title{
    font-weight: bolder;
    text-decoration: underline;
}

.cv{
    padding: 10px;
    margin-top: 25px;
    margin-bottom: 15px;
    border-radius: 10px;
    font-size: large;
    font-weight: bold;
    background-color: chartreuse;
}
.cv:hover{
    background-color: beige;
}


html{
    background-color: rgb(240, 241, 233);
}

